<div ng-controller="mainController">
    <div class="container text-center">
        <div class="row pt-4 "> 
            <h1>Reservation Calendar using AngularJS</h1>
        </div>
        <div class="row p-4 m-2">                
            <div class="col-3">
                <button class="btn p-3 btn-info border" ng-click="goToPrevMonth()">Prev</button>
            </div>
            <div class="col-6">
                <h2>{{calendar.monthName}} - {{calendar.year}}</h2>
            </div>
            <div class="col-3">
                <button class="btn p-3 btn-info border" ng-click="goToNextMonth()">Next</button>
            </div>
        </div>

        <div class="row">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="row">
                            <div class="seven-cols border-left border-right" ng-repeat="days in calendar.weekdays">{{days}}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <button class="seven-cols border btn p-4 custom-button-height btn-secondary" ng-disabled="obj.status"  ng-repeat="obj in calendar.dateObject" ng-click="showDateDetails(obj,calendar.reservedTenantsList.data[obj.day])" data-toggle="modal" data-target="#exampleModalCenter"><p class="text-uppercase font-weight-bold">{{obj.day}}<br>{{calendar.reservedTenantsList.data[obj.day].tennantName}}</p></button>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Calendar
                    </div>
                </div>
        </div>
    </div>


    <div ng-controller="modalController" class="modal in" id="exampleModalCenter" style="display:block;" ng-show="isModalVisible" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">View Today</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body text-center">
                    <form>
                      <div class="form-group" ng-show="tenantInfo == undefined">
                        <h5>Tenant Name:</h5>
                        <input class="form-control" ng-model="newTenantName">
                        <h5 class="pt-3">Stay date: {{dateObj.day}} - {{dateObj.monthName}} - {{dateObj.year}}</h5>
                      </div>
                      <div class="form-group" ng-show="tenantInfo != undefined">
                        <h5>Tenant Name:</h5>
                        <input class="form-control" ng-model="tenantInfo.tennantName" readonly>
                        <h5 class="pt-3">Stay date: {{dateObj.day}} - {{dateObj.monthName}} - {{dateObj.year}}</h5>
                      </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal()">Close</button>
                    <button type="button" ng-disabled="newTenantName.length < 2" ng-click="addTenant(newTenantName, dateObj)" ng-show="tenantInfo == undefined" class="btn btn-success">Add Tenant</button>
                    <button type="button" ng-click="removeTenant(tenantInfo)" ng-show="tenantInfo != undefined" class="btn btn-danger">Remove Tenant</button>
                </div>
            </div>
        </div>
    </div>
</div>